<div class="modal-header d-flex justify-content-center mt-3">
    <h4 class="modal-title" id="modal-basic-title">Eliminar Tarea</h4>
</div>
<div class="modal-body ">
    <div>
        <p class="mb-1">¿Desea eliminar la tarea?</p>
    </div>
    <div class="modal-footer d-flex justify-content-center mt-3">
        <div>
            <button (click)="DeleteTask()" type="submit" class="btn btn-danger btn-sm mr-2">Sí</button>
            <button (click)="deleteCancel()" class="btn btn-secondary btn-sm">No</button>
        </div>
    </div>
</div>